
body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: blanchedalmond;
}

h1{
  display:flex;
  justify-content: center;
  align-items: center;
}


.login{
  display: flex;
  display: block; 
   justify-content: center; 
  }
  
.id,
.pw
{
  width: 300px;
  height: 30px;
}

.id{
  margin-bottom: 10px;
}

.sighninbtn{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sighninbtn {
  background-image: linear-gradient(yellow, yellow);
  border: 1px solid whitesmoke;
  border-radius: 4px;
  box-sizing: border-box;
  color: gray;
  cursor: pointer;
  direction: ltr;
  /* display: block; */
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.busighninbtn:disabled {
  cursor: default;
  opacity: .3;
}

.sighninbtn:hover {
  background-image: linear-gradient(yellow, yellow);
  border-color: gainsboro;
  text-decoration: none;
}

.sighninbtn:active {
  background-image: linear-gradient(yellow, yellow);
  border-color: #006DBC;
  outline: none;
}

.sighninbtn:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}