body{
  display: flex;
  justify-content: center;
  align-items: center;
}
button ,
.inputsyusei{
  background-color: rgb(228, 215, 171);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

button:hover,
button:focus,
.inputsyusei:hover,
.inputsyusei:focus
 {
  opacity: .75;
}